:root {
  --main-color: #004d40;
  --secondary-color: #009688;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start header */
header {
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -2px;
  height: 70px;
  animation: color-logo 4s linear alternate infinite;
}
@keyframes color-logo {
  0% {
    color: #e0f2f1;
  }
  50% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--main-color);
  }
}

header .container .menu {
  font-size: 26px;
  color: var(--main-color);
}
@media (min-width: 768px) {
  header .container .menu {
    display: none;
  }
}

header .container ul {
  display: flex;
  list-style: none;
}

header .container ul li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-weight: 500;
  height: 70px;
  transition: 0.4s;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

header .container ul li a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

header .container ul li a::before,
header .container ul li a::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 4px;
  width: 100%;
  transition: 0.4s;
}

header .container ul li a::before {
  left: -100%;
  top: 0;
}

header .container ul li a:hover::before {
  left: 0;
}

header .container ul li a::after {
  right: -100%;
  bottom: 0;
}

header .container ul li a:hover::after {
  right: 0;
}
@media (max-width: 767px) {
  header .container ul {
    display: none;
  }

  header .container .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(0 0 0 / 0.4);
    width: 100%;
    z-index: 5;
  }

  header .container ul li a {
    padding: 15px 30px;
    color: white;
    font-weight: bold;
  }
}

/* End header */

/* Start landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 71px);
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 0.5);
}

.landing .content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 70%;
  padding: 60px;
  border-style: solid;
  border-width: 6px;
  border-color: white white white transparent;
}

.landing .content::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 6px;
  height: 30%;
  top: -6px;
  left: -6px;
}

.landing .content::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 6px;
  height: 30%;
  bottom: -6px;
  left: -6px;
}

.landing .content h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.6;
  font-style: italic;
  margin-bottom: 15px;
}

.landing .content p {
  line-height: 1.7;
  font-size: 18px;
}

@media (max-width: 767px) {
  .landing .content {
    padding: 30px;
    width: 85%;
  }

  .landing .content h1 {
    font-size: 25px;
  }

  .landing .content p {
    font-size: 14px;
  }
}
